//Variables
@import "src/scss/variables";

.form {
    background-color: $base-color;
    padding: 30px 50px 50px 50px;
    text-align: center;
    color: $secundary-color;
    word-break: break-all;
    display: table;
    margin: 0px auto;
}

.navform {
    margin-bottom: 60px;
    background-color: $base-color;
    text-align: center;
}

input {
    margin: 20px;
}

.divImputNombres {
    padding: 10px;
}

button {
    margin: 20px;
    border-radius: 50px;
    width: 100px;
}

.firstName,
.lastName {
    margin: 10px;
}

#enterFile {
    width: 200px;
    font-size: 10px;
}

#select {
    margin-top: 25px;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 6px;
}

.progress {
    margin-top: 16px;
    background-color: transparent;
}

#imgPreview {
    width: 200px;
    max-height: 200px;
    border: solid $secundary-color 1px;
}

input[type="file"]#enterFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    display: flex;
}

.labelEnterfile > img {
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
    border: solid $secundary-color 1px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.labelEnterfile > img:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

//MEDIA QUERY'S
@media all and (max-width: 363px) {
    h1 {
        font-size: 30px;
    }

    .divButtons {
        padding-top: 20px;
    }

    button {
        margin: 10px;
        border-radius: 50px;
        width: 100px;
    }
}

@media all and (max-width: 355px) {
    .navform {
        margin: 0px;
    }
}

@media all and (max-width: 522px) {
    .navform {
        margin-bottom: 50px;
    }

    .label {
        display: block;
    }
}
