<div class="navform">
    <form class="form" [formGroup]="userForm" (ngSubmit)="addNewUser()" #form="ngForm">

        <div class="image-upload" style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg"></div>

            <p>
                <input id="enterFile" type="file" formControlName="imagePost" (change)="selectFile($event)"
                    (change)=onUpload($event)>
            </p>
            <div class="label">
                <label class="labelEnterfile" for="enterFile">
                    <img [src]="url ? url :  '../assets/images/avatarImage.png'" alt="avatarImage" title="Subir Imágen">
                </label>
                <div class="divImputNombres">
                    <input class="firstName" type="text" formControlName="firstName" placeholder="Nombre" name="nombre"><br>
                    <input class="lastName" type="text" formControlName="lastName" placeholder="Apellidos">
                    <br>
                    <select id="select" formControlName="access">
                        <option value="" disabled selected>¿Acceso?</option>
                        <option value="yes">Con acceso</option>
                        <option value="no">Sin Acceso</option>
                    </select>
                </div>
            </div>
        </div>
        
        
        <div class="divButtons">
            <button type="submit" [disabled]="!userForm.valid"
                class="{{ mode == 'add' ? 'btn btn-primary' : 'btn btn-success'  }}">
                {{ mode == 'add' ? 'Agregar' : 'Editar' }}
            </button>
            <button type="reset" class="btn btn-primary" style.display="{{ mode == 'add' ? 'inline-block' : 'none'  }}"
                (click)="reset()">Limpiar</button>
            <button type="reset" style.display="{{ mode == 'add' ? 'none' : 'inline-block'  }}" class="btn btn-danger"
                (click)="reset()">Cancelar</button>
        </div>
        <div [hidden]="uploadPercent == 0" class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadPercent) + '%'"></div>
        </div>
    </form>
</div>