.navbar {
    justify-content: center;
    height: 80px;
    width: 100%;
    color: #f8f5e6;
    background-color: #1d2f3a;
}

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    color: #e9e9ea;
    background-color: #15242d;
}

footer > div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.linkFooter {
    color: black;
}

@media all and (max-width: 359px) {
    h1 {
        font-size: 36px;
    }
}
