<div class="navbar">
    <h1>Coding Challenge</h1>
</div>

<div class="navform">
    <form class="form" [formGroup]="userForm" (ngSubmit)="addNewUser()" #form="ngForm">

        <div class="image-upload" style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg"></div>
            <div><img id="imgPreview" [src]="url" *ngIf="url">
            </div>
            <p>
                <input id="enterFile" type="file" formControlName="imagePost" (change)="selectFile($event)"
                    (change)=onUpload($event)>
            </p>
            <div class="label">
                <label class="labelEnterfile" for="enterFile">
                    <img src="../assets/images/uploadImage.svg" alt="uploadImage" title="Subir Imágen">
                </label>
            </div>
        </div>
        <div class="divImputNombres">
            Nombre: <input class="firstName" type="text" formControlName="firstName" placeholder="Nombre"
                name="nombre"><br>
            Apellidos:<input class="lastName" type="text" formControlName="lastName" placeholder="Apellidos">
            <br>
        </div>
        <div class="DivSelect">
            <select id="select" formControlName="access">
                <option value="" disabled selected>¿Acceso?</option>
                <option value="yes">Con acceso</option>
                <option value="no">Sin Acceso</option>
            </select>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadPercent) + '%'"></div>
        </div>
        <div class="divButtons">
            <button type="submit" [disabled]="!userForm.valid"
                class="{{ mode == 'add' ? 'btn btn-primary' : 'btn btn-success'  }}">
                {{ mode == 'add' ? 'Agregar' : 'Editar' }}
            </button>
            <button type="reset" class="btn btn-primary" style.display="{{ mode == 'add' ? 'inline-block' : 'none'  }}"
                (click)="reset()">Limpiar</button>
            <button type="reset" style.display="{{ mode == 'add' ? 'none' : 'inline-block'  }}" class="btn btn-danger"
                (click)="reset()">Cancelar</button>
        </div>
    </form>
</div>

<div class=" cajas row">
    <div class="caja1 col md5">
        <h3>Con acceso</h3>
        <div *ngFor="let user of userListAccess('yes')">
            <img id="userImage" src="{{user.image}}" (click)="edit(user)" title="Click para Editar" /><br>
            <span class="spanName">{{user.nombre}},</span><br>
            <span class="spanName">{{user.apellido}}</span><br>
            <button type="submit" class="de btn btn-outline-danger" (click)="delete(user)">
                Borrar
            </button>
            <button type="submit" class="de btn btn-outline-success" (click)="edit(user)">
                Editar
            </button>
            <hr>
        </div>
    </div>

    <div class="caja2 col md5">
        <h3 class="sinacceso">Sin acceso</h3>
        <div *ngFor="let user of userListAccess('no')">
            <img id="userImage" src="{{user.image}}" (click)="edit(user)" data-toggle="tooltip" data-placement="top"
                title="Click para Editar" /><br>
            <span class="spanName">{{user.nombre}},</span><br>
            <span class="spanName">{{user.apellido}}</span><br>
            <div>
                <button type="submit" class="de btn btn-outline-danger" (click)="delete(user)">
                    Borrar
                </button>
                <button type="submit" class="de btn btn-outline-success" (click)="edit(user)">
                    Editar
                </button>
            </div>
            <hr>
        </div>
    </div>
</div>
<footer>
    <div><span>Creado por Alberto Peral</span></div>
</footer>